              <script src="js-lib/js/jquery.dataTables.js"></script>
              <script src="js-lib/js/bootstrap3-typeahead.js"></script>
              <link href="js-lib/css/jquery.dataTables.css" rel="stylesheet">

              <link href="app/css/leftpanel.css" rel="stylesheet">
              <link href="css/toggle-switch.css" rel="stylesheet">
              <br>

<div class = "leftpanels" style="height:80%;margin-right:-70px;">
              <div class="panel-round1" style="text-align: left;">
                            <div class="col-md-5 col panel-round1">
                            <br>

                            <!-- Search Standard Terms input -->
   
                            <br>

                            <!-- Checkboxes to select appropriate databases -->


                            <div class="row" style="font-size:12px; margin-left:10px;">
                                          <label class="checkbox-inline">
                                              <input type="checkbox" id="All" value="All"  checked>
                                              All </label>
                            
                                          <label class="checkbox-inline" style="padding-left:5em;">
                                              <input type="checkbox" id="icd10" value="icd10"  >
                                              ICD10 </label>
                                          <label class="checkbox-inline" style="padding-left:3em;">
                                              <input type="checkbox" id="snomed" value="snomed" >
                                              SNOMED </label>
                                          <br>
                                          <label class="checkbox-inline ">
                                              <input type="checkbox" id="loinc" value="loinc"  >
                                              LOINC </label>
                                          <label class="checkbox-inline " style="padding-left:3em;">
                                              <input type="checkbox" id="rxnorm" value="rxnorm"  >
                                              RxNorm </label>
                                          <label class="checkbox-inline " style="padding-left:2.2em;">
                                              <input type="checkbox" id="mesh" value="mesh" >
                                              MESH </label>
                          </div> <!-- End of Check boxes -->
                          <br>
              
                          <!-- Datatable for the search results -->
                          <div class="row">
                            <table id="example" class="display" style="word-break:break-all;margin-left:1px; " >
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Term</th>
                                        <th>DB</th>
                                    </tr>
                                </thead>
                                <tbody>
              
                                </tbody>
                              </table>
                          </div>  <!-- End of datatables -->
             </div> <!-- col-md-6 for standard term search -->



              <div class="col-md-6 panel-round1">
                            <div class ="col">

            <!-- BEGIN THE TAB -->

                              <ul class="nav nav-tabs" id="termstabpanel" role="tab">
                              <li class="active"><a  href="#termentry" role="tab" data-toggle="tab"><b>Term Entry</b></a></li>
                              <li class="termedit"><a  href="#termnewedit" role="tab" data-toggle="tab"><b>Term Edit</b></a></li>
                              <li class="listterms"><a  href="#listnewterms" role="tab" data-toggle="tab"><b>Term List</b></a></li>
                              </ul>
                </div>

                <!-- BEGIN THE TAB CONTENT -->

      <div class="tab-content">
             <div id="termentry" class="tab-pane fade in active" > 
                 <div class="panel-round1 panel-body">
                    <form id="newdatatermstosave" action="">
                             <div class="row">
                                 <div class="col-md-4"><h4>Enter Term</h4></div>
                             </div>


                              <div class="row" >
                                <div class="col-md-10">
                                  <input type="text" autocomplete="off" class="form-control required" id="term_input" placeholder="Term is a required field" onkeydown="myFunction()" oninput="OnTermInput(event)" required>
                                  
                                </div>
                              </div>

                               <div>
                                <br>                 
                                <textarea class="form-control" rows="3" autocomplete="off" id="synonyms_input" placeholder="Seperate Synonyms with comma"  oninput="OnTermInput(event)" onkeydown="OnTextAreaKeyDown()"></textarea>
                                <br>
                              </div>
                
                                 <div class="row" style="float:left">
                                     <div class="col-md-10">
                                         <input type="text" autocomplete="off" class="form-control" id="loinc_input" placeholder="LOINC ID"  onkeydown="myFunction()" oninput="OnTermInput(event)">
                                            </div>
                                          </div>
                                          
                                          <div class="row" style="float:left">
                                            <div class="col-md-10">
                                              <input type="text" autocomplete="off" class="form-control addspace" id="icd_input" placeholder="ICD10 ID"  onkeydown="myFunction()" oninput="OnTermInput(event)">
                                            </div>
                                          </div>
                                          <br>
                                          &nbsp;&nbsp;<div class="row" style="float:left">
                                            <div class="col-md-10">
                                              <input type="text" autocomplete="off" class="form-control" id="snomed_input" placeholder="SNOMED ID"  onkeydown="myFunction()" oninput="OnTermInput(event)">
                                            </div>
                                          </div>
                                          <br>
                                          <div class="row" style="float:left">
                                            <div class="col-md-10">
                                              <input type="text" autocomplete="off" class="form-control" id="rxnorm_input" placeholder="RxNorm"  onkeydown="myFunction()" oninput="OnTermInput(event)">
                                            </div>
                                          </div>
                                          <br>
                                         &nbsp;<div class="row" style="float:left">
                                            <div class="col-md-10">
                                              <input type="text" autocomplete="off" class="form-control" id="mesh_input" placeholder="MESH ID"  onkeydown="myFunction()" oninput="OnTermInput(event)">
                                            </div>
                                          </div>

                
                                              <br>
                                              <br>
                                              <br>
                                              <br>
                                              <br>
                                      
                  <p id="final_saving_term" style="color:green;" class="hidden" ></p><br>
    

    
                <button type="button" class="btn btn-danger btn-sm" id="cleartermsbtn" onclick = "this.form.reset()">
                  <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;&nbsp;Clear All
                </button>
               
                <button type="button" class="btn btn-primary btn-sm" id="termsSubmitBtn">
                  <span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;&nbsp;Submit
                </button>
                    <div class="alert alert-success" role="alert" id="termentersuccessalert" style="display:none">Well done! inserted successfully </div>
                  </form> <!-- End of Form -->
                </div>  <!-- /panel-body -->
              </div>  <!-- termentry -->
        
              <div id = "termnewedit" class = "tab-pane fade" >
                <div class = "panel-round1 panel-body">
                   <form id="datatermstoedit" action="">
                      <div class="row">
                          <div class="col-md-12" >
                              <input type="text" autocomplete="off" class="form-control" id="termtypeahead" placeholder="Search Terms" onkeydown="myFunction()" data-provide = "typeahead" oninput="OnTypeaheadInputedit()">
                          </div>                        
                       </div>
                           <div class="row">
                                <div class="col-md-4"><h4>Edit Term</h4></div>
                              </div>
                              
                              <div class="row" >
                                <div class="col-md-12">
                                  <input type="text" autocomplete="off" class="form-control required" id="term_input_edit" oninput="OnTermInputedit(event)" placeholder="Term is a required field" onkeydown="myFunction()" required>
                                  
                                </div>
                              </div>    

                             <div>
                              <br>                 
                              <textarea class="form-control" rows="3" autocomplete="off" id="synonyms_input_edit" placeholder="Seperate Synonms with commas"  oninput="OnTermInputedit(event)" onkeydown="OnTextAreaKeyDown()"></textarea>
                              <br>
                            </div>
                            
                            <div class="row" style="float:left">
                              <div class="col-md-10">
                                <input type="text" autocomplete="off" class="form-control" id="loinc_input_edit" placeholder="LOINC ID"  onkeydown="myFunction()" oninput="OnTermInputedit(event)">
                              </div>
                            </div>
                            
                            <div class="row" style="float:left">
                              <div class="col-md-10">
                                <input type="text" autocomplete="off" class="form-control addspace" id="icd_input_edit" placeholder="ICD10 ID"  onkeydown="myFunction()" oninput="OnTermInputedit(event)">
                              </div>
                            </div>
                            <br>
                            &nbsp;&nbsp;<div class="row" style="float:left">
                              <div class="col-md-10">
                                <input type="text" autocomplete="off" class="form-control" id="snomed_input_edit" placeholder="SNOMED ID"  onkeydown="myFunction()" oninput="OnTermInputedit(event)">
                              </div>
                            </div>
                            <br>
                            
                            <div class="row" style="float:left">
                              <div class="col-md-10">
                                <input type="text" autocomplete="off" class="form-control" id="rxnorm_input_edit" placeholder="RxNorm"  onkeydown="myFunction()" oninput="OnTermInputedit(event)">
                              </div>
                            </div>
                            <br>
                            
                           &nbsp;<div class="row" style="float:left">
                              <div class="col-md-10">
                                <input type="text" autocomplete="off" class="form-control" id="mesh_input_edit" placeholder="MESH ID"  onkeydown="myFunction()" oninput="OnTermInputedit(event)">
                              </div>
                            </div>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
              
              
               
                 <p id="final_saving_term_edit" color="green" class="hidden"></p><br>
            
                
                <button type="button" class="btn btn-danger btn-sm" id="deletetermsbtn"  >
                <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;&nbsp;Delete
              </button>
             <br>
              <button type="button" class="btn btn-primary btn-sm" id="termsUpdateBtn_edit" style="float:right;">
                <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;&nbsp;Update
              </button>
            
                      
              <br>
              <br>
              <div class="alert alert-success" role="alert" id="termentersuccessalert_edit" style="display:none">Well done! Data inserted successfully </div>
              <div class="alert alert-success" role="alert" id="termdeletesuccessalert_edit" style="display:none">Well done! Data deleted successfully </div>
            </form> <!-- End of Form  for term edit -->
          </div>
        </div> <!-- termedit -->

        <div id = "listnewterms" class = "tab-pane fade" >
            
    
    <div class="panel-round1 panel-body">
          <div class="switch-toggle well">
                      <input id="latest" name="view" type="radio" checked>
                      <label for="latest" onclick = "sortlatest()">Latest</label>

                      <input id="alphabetical" name="view" type="radio">
                      <label for="alphabetical" onclick = "sortalpha()">Alphabetical</label>

                      <a class="btn btn-primary"></a>
           </div>
           
              <form id="listtermstoshow" action="" style="overflow-y:scroll;height:550px;border:0.5px solid black;">
                  <div id= "listaccordion">
                    <span id ="termheading" style="text-align:left;font-size:80%;" class = "listtermshead hidden"> </span>
                    <div id = "termentrydata" class= "hidden">  
                       <span id  = "listnewterm_head">Term:</span><span id  = "listnewterm_data"></span><br>
                        <span id  = "listnewsynonms_head">Synonyms:</span><span id  = "listnewsynonyms_data"></span><br>
                        <span id  = "listnewsynonms_codes"><b>Codes:</b></span><br>
                        <span id  = "listnewsynonyms_loinc_head">loinc&nbsp;&nbsp;</span>
                        <span id  = "listnewsynonyms_loinc"></span><br>
                        <span id  = "listnewsynonyms_icd10_head">icd10&nbsp;&nbsp;</span>
                        <span id  = "listnewsynonyms_icd10"></span><br>
                        <span id  = "listnewsynonyms_snomed_head">snomed&nbsp;&nbsp;</span>
                        <span id  = "listnewsynonyms_snomed"></span><br>
                        <span id  = "listnewsynonyms_rxnorm_head">rxnorm&nbsp;&nbsp;</span>
                        <span id  = "listnewsynonyms_rxnorm"></span><br> 
                        <span id  = "listnewsynonyms_mesh_head">mesh&nbsp;&nbsp;</span> 
                        <span id  = "listnewsynonyms_mesh"></span><br>
                        </div>
                      </div>
              </form>

          </div>

        </div>
                        
        </div>
     
      
    </div>

  </div>

</div>




<script src = "app/js/leftpanelapp.js" type = "text/javascript">
